*
{
    margin: 0;
    padding: 0;
}


/*------navigation-----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 20;
}

.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul #InicioNav a:hover{
    color: #F7819F!important;
}

#nav-bar ul #SobreNosotrosNav a:hover{
    color: #DA81F5!important;
}

#nav-bar ul #TrabajosNav a:hover{
    color: #81BEF7!important;
}
#nav-bar ul #TestimoniosNav a:hover{
    color: #ACFA58!important;
}
#nav-bar ul #ContactoNav a:hover{
    color: #F4FA58!important;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 20px;
}

/*------slider-----*/
#slider
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h5
{
    color: #fff;
    font-size: 42px;
    font-family: "Courier New", Courier, monospace;
}
/*------Sobre Nosotros-----*/
#SobreNosotros
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#SobreNosotros .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.SobreNosotros-Contenido
{
    padding-top: 20px;
}
/*------Trabajos-----*/
#Trabajos
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/trabajos.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Trabajos h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#Trabajos h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;

}
